<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="users" class="org.geoserver.egeosmanager.Users" scope="prototype" />
	<bean id="groups" class="org.geoserver.egeosmanager.Groups" scope="prototype" />
	<bean id="members" class="org.geoserver.egeosmanager.Members" scope="prototype" />
	<bean id="roles" class="org.geoserver.egeosmanager.Roles" scope="prototype" />
	<bean id="userrolerefs" class="org.geoserver.egeosmanager.UserRoleRefs" scope="prototype" />
	<bean id="grouprolerefs" class="org.geoserver.egeosmanager.GroupRoleRefs" scope="prototype" />
	<bean id="rules" class="org.geoserver.egeosmanager.Rules" scope="prototype" />
	<bean id="layertree" class="org.geoserver.egeosmanager.LayerTree" scope="prototype"> 
		<constructor-arg ref="catalog"/>
	</bean>	
	<bean id="gridsets" class="org.geoserver.egeosmanager.Gridsets" scope="prototype">
		<constructor-arg ref="gwcGridSetBroker"/>
	</bean>

	<bean id="egeosMapping" class="org.geoserver.egeosmanager.rest.EgeosRestMapping">
		<property name="routes">
			<map>
				<entry>
					<key><value>/users.json</value></key>
					<value>users</value>
				</entry>
				<entry>
					<key><value>/groups.json</value></key>
					<value>groups</value>
				</entry>
				<entry>
					<key><value>/members.json</value></key>
					<value>members</value>
				</entry>
				<entry>
					<key><value>/roles.json</value></key>
					<value>roles</value>
				</entry>
				<entry>
					<key><value>/userrolerefs.json</value></key>
					<value>userrolerefs</value>
				</entry>
				<entry>
					<key><value>/grouprolerefs.json</value></key>
					<value>grouprolerefs</value>
				</entry>
				<entry>
					<key><value>/rules.json</value></key>
					<value>rules</value>
				</entry>
				<entry>
					<key><value>/layertree.json</value></key>
					<value>layertree</value>
				</entry>
				<entry>
					<key><value>/gridsets.json</value></key>
					<value>gridsets</value>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="egeosmanagerPanel" class="org.geoserver.web.MenuPageInfo">
      <property name="id" value="egeosmanagerPanel"/>
      <property name="titleKey" value="EgeosManagerPanel.page.title"/>
      <property name="descriptionKey" value="EgeosManagerPanel.page.description"/>
      <property name="componentClass" value="org.geoserver.egeosmanager.web.EgeosManagerPanel"/>
      <property name="category" ref="aboutStatusCategory"/>
      <property name="icon" value="img/e-geos.png"/>
      <property name="authorizer" ref="workspaceAdminAuthorizer"/>
    </bean>
	
</beans>
