<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="users" class="org.geoserver.egeosmanager.Users" scope="prototype" />
	<bean id="groups" class="org.geoserver.egeosmanager.Groups" scope="prototype" />
	<bean id="members" class="org.geoserver.egeosmanager.Members" scope="prototype" />
	<bean id="roles" class="org.geoserver.egeosmanager.Roles" scope="prototype" />
	<bean id="userrolerefs" class="org.geoserver.egeosmanager.UserRoleRefs" scope="prototype" />
	<bean id="grouprolerefs" class="org.geoserver.egeosmanager.GroupRoleRefs" scope="prototype" />
	<bean id="rules" class="org.geoserver.egeosmanager.Rules" scope="prototype" />
	<bean id="layertree" class="org.geoserver.egeosmanager.LayerTree" scope="prototype"> 
		<constructor-arg ref="catalog"/>
	</bean>

	<bean id="egeosMapping" class="org.geoserver.rest.RESTMapping">
		<property name="routes">
			<map>
				<entry>
					<key>
						<value>/users.{format}</value>
					</key>
					<value>users</value>
				</entry>

				<entry>
					<key>
						<value>/groups.{format}</value>
					</key>
					<value>groups</value>
				</entry>

				<entry>
					<key>
						<value>/members.{format}</value>
					</key>
					<value>members</value>
				</entry>

				<entry>
					<key>
						<value>/roles.{format}</value>
					</key>
					<value>roles</value>
				</entry>

				<entry>
					<key>
						<value>/userrolerefs.{format}</value>
					</key>
					<value>userrolerefs</value>
				</entry>

				<entry>
					<key>
						<value>/grouprolerefs.{format}</value>
					</key>
					<value>grouprolerefs</value>
				</entry>

				<entry>
					<key>
						<value>/rules.{format}</value>
					</key>
					<value>rules</value>
				</entry>

				<entry>
					<key>
						<value>/layertree.{format}</value>
					</key>
					<value>layertree</value>
				</entry>

			</map>
		</property>
	</bean>


</beans>
